<div class="box">
    <div class="box-header">
        <h2>Config Reset</h2>
    </div>
    <div class="box-divider m-a-0"></div>
    <div class="box-body p-v-md">
        <div class="row row-sm pt-1">
            <div class="col-md-2 _600 text-center">RESET ></div>
            <div class="col-md-2 _600 text-center">POINT</div>
            <div class="col-md-2 _600 text-center">BẠC</div>
            <div class="col-md-2 _600 text-center">ZEN</div>
            <div class="col-md-2 _600 text-center">MỆNH LỆNH</div>
            <div class="col-md-2 _600 text-center"></div>
        </div>
        <div class="row row-sm pt-1" ng-repeat="item in resets">
            <div class="col-md-2">
                <input type="text" class="form-control" currency-input="" ng-model="resets[$index].reset" placeholder="Reset >">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" currency-input="" ng-model="resets[$index].point" placeholder="Point">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" currency-input="" ng-model="resets[$index].sliver" placeholder="Bạc">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" currency-input="" ng-model="resets[$index].zen_reset" placeholder="ZEN">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" currency-input="" ng-model="resets[$index].leadership" placeholder="Mệnh lệnh">
            </div>
            <div class="col-md-2" ng-if="$index !== 0">
                <button type="submit" class="btn btn-danger" ng-click="removeRow($index)">Xóa</button>
            </div>
        </div>

        <div class="p-a text-right">
            <button type="submit" class="btn btn-fw warn" ng-click="addRow()">Thêm hàng</button>
            <button type="submit" class="btn btn-info" ng-click="submit()">Cập nhật</button>
        </div>
    </div>
</div>